.footer{
    background-image: url(../../img/footer_background.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
    .footer_container{
    padding-bottom: 8em;
    padding-top: 8em;
   }
}